<!-- templates/recording/index.html -->
{% extends "_base.html" %}

{% block content %}
    <h1 class="">Enregistrement Vocal</h1>
    <!-- Hidden form just to set CSRF cookie -->
     <form method="post" style="display: none;">
        {% csrf_token %}
     </form>
    <div class="controls">
        <button id="startBtn">Start Recording</button>
        <button id="stopBtn" disabled>Stop Recording</button>
        <div class="recording-indicator" id="recordingIndicator">🔴 En cours d'enregistrement...</div>
        <div id="timer">00:00</div>
        
        <div class="audio-container">
            <audio id="player" controls></audio>
        </div>
    </div>

    <h2 class="">Enregistrements</h2>
    <div id="recordingsList" class="recording-list">
        {% for record in recordings %}
            <div class="recording-item">
                <p>{{ record.title|default:"Untitled audio" }} ({{ record.created_at|date:"H:i:s d-m-Y" }})</p>
                <!-- <a href="{{ recording.audio_file.url }}" download class="text-blue-500 underline">
                    {{ recording.audio_file.title|slice:"15:" }} ({{ recording.created_at|date:"Y-m-d H:i" }})
                </a> -->
                <audio controls class="mt-2" src="{{ record.audio_file.url }}"></audio>
            </div>
        {% empty %}
            <p>No recordings available.</p>
        {% endfor %}
    </div>
{% endblock content %}